<!doctype html>
<html lang="en">
<head>
    <title>Productos</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/fc31967e20.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/style.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="img/logo.png"logo Mundo Imprimibles">
        </div>
        <nav>
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="pages/tienda.html">Tienda</a></li>
                <li><a href="pages/nosotros.html">Nosotros</a></li>
                <li><a href="pages/contacto.html">Contacto</a></li>
                <li><a href="#">Crud</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div id="app" class="container">
            <h1>Productos</h1>
            <br>
            <a class="btn btn-primary" href="producto_nuevo.html">Nuevo</a>
            <br><br>

            <div v-if="error">
                <p>Lo sentimos , ........</p>
            </div>
            <div v-else>
                <section v-if="cargando">
                    <div class="spinner-border"></div>
                    <p>Cargando .....</p>
                </section>
                <section v-else>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Precio</th>
                                    <th scope="col">descripcion</th>
                                    <th scope="col">Imagen</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="" v-for="producto in productos">
                                    <td scope="row">{{producto.id}}</td>
                                    <td>{{producto.nombre}}</td>
                                    <td>{{producto.precio}}</td>
                                    <td>{{producto.descripcion}}</td>
                                    <td>
                                        <img width="150" :src="producto.foto" :alt="producto.nombre">
                                    </td>
                                    <td>
                                    <a class="btn btn-primary" :href="'producto_update.html?id='+ producto.id" >Editar</a>
                                    <button type="button" class="btn btn-danger" v-on:click="eliminar(producto.id)" >Eliminar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </main>

    <footer>
        <a href="https://www.facebook.com"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.pinterest.com"><i class="fa-brands fa-pinterest"></i></a>
        <a href="https://www.youtube.com"><i class="fa-brands fa-youtube"></i></a>
        <p>Todos los derechos reservados- Mundo Imprimibles</p>
    </footer>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
crossorigin="anonymous">
<!-- Link de Bootstrap-->
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
crossorigin="anonymous"></script>
    <script src="./js/main.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script><!--Link de VUE-->
    <script src="./js/productos.js"></script>
</body>
</html>