<!doctype html>
<html lang="en">
<head>
    <title>Producto Nuevo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/fc31967e20.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="assets/style.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="img/logo.png" alt="logo Mundo Imprimibles">
        </div>
        <nav>
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="pages/tienda.html">Tienda</a></li>
                <li><a href="pages/nosotros.html">Nosotros</a></li>
                <li><a href="pages/contacto.html">Contacto</a></li>
                <li><a href="productos.html">Crud</a></li>
            </ul>
        </nav>

    </header>
    <main>
        <div class="container" id="app">
<form style= "border:1px solid grey; margin:10px auto ; width:400px; padding:20px;">
<h2>Alta de Producto</h2>
<div class="mb-3">
<label for="nombre">Nombre</label>
<input type="text" name="nombre" id="nombre" v-model="nombre">
</div>
<div class="mb-3">
    <label for="foto">Imagen</label>
    <input type="text" name="foto" id="foto" v-model="foto">
    <img width="100" :src="foto" alt="">
</div>
<div class="mb-3">
       <p>Elegir imagen:</p> 
        <input type="file" name="image">
    </div>
<div class="mb-3">
    <label for="descripcion">descripcion</label>
    <input type="text" name="descripcion" id="descripcion" v-model="descripcion">
</div>
<div class="mb-3">
    <label for="precio">Precio</label>
    <input type="number" name="precio" id="precio" v-model="precio">
</div>
<br>

<button type="button" class="btn-primary"
v-on:click="grabar()">Grabar</button>
</form>
</div>
</main>
<footer>
    <a href="https://www.facebook.com"><i class="fa-brands fa-facebook"></i></a>
    <a href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i></a>
    <a href="https://www.pinterest.com"><i class="fa-brands fa-pinterest"></i></a>
    <a href="https://www.youtube.com"><i class="fa-brands fa-youtube"></i></a>
    <p>Todos los derechos reservados- Mundo Imprimibles</p>
</footer>
<!-- Bootstrap JavaScript Libraries 
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
crossorigin="anonymous">
</script>-->
<script src="./js/main.js"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="./js/productos.js"></script>

</script>
</body>
</html>