@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: black;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(139, 0, 72);
    padding: 1%;
}
header nav{
    margin-right: 50px;   
    margin-top: 2%;
}
header nav li{
    display: inline-block;
    list-style-type: none;
    margin-left: 30px;
}
header nav li a{
    text-decoration: none;
    color:white;
    letter-spacing: 3px;
    cursor: pointer;
}
header nav li a:hover{
    border-bottom: 2px solid white;
}
.logo{
    width: 100px;
    height: 100px;
    margin-left: 50px;
}
.logo img {
    width:100%;
}
main{
    margin: 0  auto;
    padding: 1%;
    width: 90%;
    background-color: white;
}
main>p{
    text-align: center;
}
main a{
    color: rgb(139, 0, 72);
    font-weight: bold;
    text-decoration: none;
}
.fluid-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.fichas{
    width: 30%;
    margin: 10px;
    padding: 1%;
    background-color: #f1f1f1;
    text-align: center;
    border:1px solid lightgray;
    border-radius: 3%;
    box-shadow: 0 2px 2px 2px #080808;
    }
.img-fichas{
    width: 100%;
}
.img-fichas img{
    width: 100%;
}
.producto{
    width: 30%;
    margin: 1em;
    text-align: center;
    border:1px solid lightgray;
    padding: 1em;
}
.producto img{
    width: 100%;
    height: 300px;
}
.btn{
    margin:1em;
}
.btn a{
    width: 300px;
    font-size: 1em;
    padding: 0.5em 1em;
    background-color: black;
    color: white;
    border-radius: 20px;
}
.btn a:hover{
    background-color: rgb(139, 0, 72);
}
h1, h2{
    text-align: center;
}
h1{
    margin-top: 1%;
    font-size: 300%;
    letter-spacing: 4px;
}
h2{
    font-size: 200%;
    word-spacing: 2px;
    letter-spacing: 2px;
    color: rgb(139, 0, 72);
}
h2:after {
    display: block;
    height: 2px;
    background-color:rgb(139, 0, 72);
    border-radius: 30px;
    content: "";
    width: 200px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
p{
    text-align: justify;
    font-size: 1em;
    font-weight: lighter;
    line-height: 1.8em;
}
footer{
    height: 70px;
    background-color: rgb(139, 0, 72);
    text-align: center;
    padding-top: 1em;
}
footer a{
    color:white;
    font-size: 1.5em;
    text-decoration: none;
}
footer p{
    color:white;
    font-size: 0.8em;
    text-align: center;
}
.form{
    width: 60%;
    margin: 0 auto;
    padding: 1%;
    background-color:azure;
    color: #333333;
    font-weight: 300;
}
.row{
    display: flex;
    align-items: center;
    padding-right: 1%;
}
label{
    width: 100%;
}
input, select,
textarea {
    width: 100%;
    padding: 1%;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-top: 1%;
    margin-right: 3%;
}
textarea {
    height: 150px;
}

input[type=submit] {
    width: 150px;
    background-color: black;
    color:white;
    text-align: center;
    font-weight: 300;
    margin-left: 30%;
    margin-top: 10%;
  
}
input[type=checkbox] { 
    width: 30px;
    margin-right: 38%;
    margin-left: 2px;  
}
h1{
  animation-name: animacion1;
  animation-duration: 4s;
  animation-iteration-count: 2;
  animation-direction: alternate-reverse;  
}

@keyframes animacion1 {
  0%   {background-color:rgb(255, 230, 0); left:0px; top:0px;}
  25%  {background-color:rgb(0, 234, 255); left:200px; top:0px;}
  50%  {background-color:rgb(125, 3, 58); left:200px; top:200px;}
  75%  {background-color:rgb(128, 100, 0); left:0px; top:200px;}
  100% {background-color:rgb(255, 140, 0); left:0px; top:0px;}
}
@media (max-width:1024){
    main{
        width: 100%;
        margin:0;
        padding:0;
    }
    .fluid-container{
        width: 100%;
        padding: 0;
    }
        .producto, .fichas{
         width: 50%;
         padding: 0.4em;
         margin: 0.2em;
     }
     .producto img{
        width: 100%;
        height: 30vh;
     }
    }
@media (max-width:600px) {
    body {
      font-size: 1em;
        }
        main{
            width: 100%;
            padding: 0;
        }
     .fluid-container{
          flex-direction: column;
          padding: 0;
        }
    .logo{
        margin-left: 0;
        padding:1em;
    }
    h1{
        margin-top: 0;
        font-size: 200%;
    }
    .fichas, .producto, .form{
        width: 90%;
        margin:0.5em;
        padding: 1em;
    }
    header nav li{
            display: block;
        }
    .button{
        margin:10px;
    }
  }